<script>
  import type { Celeb } from 'src/types/celeb'
  import type { Selection } from 'src/types/selection'

  import { createEventDispatcher } from 'svelte'
  import { fly, scale, crossfade } from 'svelte/transition'
  import { cubicOut, elasticOut } from 'svelte/easing'

  import Card from '../components/Card.svelte'

  import { sleep, pickRandom, loadImage } from '../libs/utils'

  type GameProps = { selection: Selection }

  const { selection }: Partial<GameProps> = $$props
  
  const promises = selection.map<Promise<Array<Celeb>>>((round) => {
    return Promise.all([
      loadDetails(round.a),
      loadDetails(round.b)
    ])
  })

  let i: number = 0
  let lastResult: string
  let done: boolean = false
  let isReady: boolean = true

  const results = Array(selection.length)
  const dispatch = createEventDispatcher()
  const [send, receive] = crossfade({
    easing: cubicOut,
    duration: 300
  })

  $: score = results.filter(x => x === 'right').length

  async function loadDetails(celeb: Celeb): Promise<Celeb> {
    const details =  await (
      await fetch(`https://cameo-explorer.netlify.app/celebs/${celeb.id}.json`)
    ).json()
    await loadImage(details.image)
    return details
  }

  async function submit(a: Celeb, b: Celeb, sign: -1 | 0 | 1) {
    console.log(`before lastResult`, lastResult)
    lastResult = Math.sign(a.price - b.price) === sign ? 'right' : 'wrong'
    console.log(`after lastResult`, lastResult)

    // wait for 1500ms
    await sleep(1500)
    results[i] = lastResult
    lastResult = null
    await sleep(500)

    if (i < selection.length - 1) {
      i += 1
    } else {
      done = true
    }
  }

  function pickMessage(p: number): string | void {
    if (p < 0.5) {
      return pickRandom([`Ouch!`, `That wasn't very good`, `Must try harder`])
    } else if (p <= 0.8) {
      return pickRandom([`Not bad`, `Keep practicing!`])
    } else if (p < 1) {
      return pickRandom([`So close!`, `Almost there!`])
    } else {
      return pickRandom([`You rock!`, `Flawless victory!`])
    }
  }
</script>

<header>
  <p>
    Tap on the more monetisable celebrity's face, 
    or tap 'same price' if society values them equally.
  </p>
</header>

<div class="game-container">
  {#if done}
    <div class="done" in:scale="{{ delay: 200, duration: 800, easing: elasticOut }}">
      <strong>{score}/{results.length}</strong>
      <p>{pickMessage(score / results.length)}</p>
      <button on:click="{() => dispatch('restart')}">Back to main page</button>
    </div>
  {:else}
    {#await promises[i] then [a, b]}
      <div 
        class="game"
        in:fly="{{ duration: 200, y: 20 }}"
        out:fly="{{ duration: 200, y: -20 }}"
        on:introstart="{() => isReady = true}"
        on:introend="{() => isReady = false}"
      >
        <div class="card-container">
          <Card 
            celeb="{a}"
            on:select="{() => submit(a, b, 1)}"
            isShowPrice="{!!lastResult}"
            winner="{a.price >= b.price}"
          />
        </div>

        <div class="same">
          <button on:click="{() => submit(a, b, 0)}">Same price</button>
        </div>

        <div class="card-container">
          <Card 
            celeb="{b}"
            on:select="{() => submit(a, b, -1)}"
            isShowPrice="{!!lastResult}"
            isWinner="{b.price >= a.price}"
          />   
        </div>
      </div>
    {:catch}
      <p class="error">
        Opps! Failed to load data
      </p>
    {/await}
  {/if}
</div>

{#if lastResult}
  <img 
    in:fly="{{ x: 100, duration: 200 }}"
    out:send="{{ key: i }}"
    class="giant-result"
    src="/src/assets/icons/{lastResult}.svg"
    alt="{lastResult}"
  />
{/if}

<div class="results" style="grid-template-columns: repeat({results.length}, 1fr); height: auto;">
  {#each results as result, i}
    <span class="result">
      {#if result}
        <img
          in:receive="{{ key: i }}"
          src="/src/assets/icons/{result}.svg"
          alt="{result} answer"
        />
      {/if}
    </span>
  {/each}
</div>

<style>
  .game-container {
    width: 100%;
    @apply flex-1;

    .done {
      @apply absolute w-full h-full left-0 top-0 ;
      @apply gap-4 flex flex-col items-center justify-center;

      strong {
        @apply font-bold text-8xl;
      }
    }
  }

  .game {
    grid-template-rows: 1fr 2em 1fr;
    grid-gap: 1rem;
    max-width: min(100%, 40vh);
    @apply grid mx-auto h-full w-full;

    & > div {
      @apply flex items-center justify-center;
    }

    .card-container button {
      @apply w-full h-full p-0 m-0;
    }
  }


  .error {
    @apply text-red-600;
  }

  .giant-result {
    position: fixed;
    width: 50vmin;
    height: 50vmin;
    left: calc(50vw - 25vmin);
    top: calc(50vh - 25vmin);
    opacity: 0.5;
  }

  .results {
    max-width: 320px;
    margin: 1rem auto 0 auto;
    @apply grid w-full gap-1;

    .result {
      background-color: rgba(255, 255, 255, 0.15);
      padding: 0 0 100% 0;
      transition: background 0.2s;
      transition-delay: 0.2s;
      @apply rounded-full relative;

      img {
        @apply absolute w-full h-full left-0 top-0;
      }
    }
  }

  .card-container {
    @apply h-full relative;
  }
 
  @media (min-width: 640px) {
    .game {
      grid-template-columns: 1fr 8em 1fr;

      /* Work around Safari bug */
      max-height: calc(100vh - 6em);
      @apply max-w-full grid-rows-none items-center w-full;

      button {
        @apply m-auto;
      }
    }

    .card-container {
      @apply h-auto;
    }

    .same {
      margin: 0;

      button {
        @apply h-32 w-full;
      }
    }
  }
</style>
