<script>
  import { createEventDispatcher, beforeUpdate } from 'svelte'
  import { scale } from 'svelte/transition'
  import { elasticOut } from 'svelte/easing'
  import type { Celeb } from "src/types/celeb";

  type CardProps = {
    celeb: Celeb
    isShowPrice: boolean
    isWinner: boolean
  }
  
  // export let isShowPrice: boolean = false
  // let { celeb , isWinner/*, isShowPrice*/ }: Partial<CardProps> = $$props
  $: ({ celeb, isWinner, isShowPrice } = $$props as Partial<CardProps>)
  const dispatcher = createEventDispatcher()
  console.log('show price', isShowPrice)
  beforeUpdate(() => console.log($$props))
</script>

<div class="card-outer">
  <button
    class="card-inner"
    style="background-image: url({celeb.image});"
    on:click="{() => dispatcher('select')}"
  >
    <div class="details">
      <h2>
        <a
          class="link"
          target="_blank"
          href="https://cameo.com/{celeb.id}"
          on:click|stopPropagation
        >
          {celeb.name}
        </a>
      </h2>
      <p class="type">{celeb.type}</p>
    </div>
  </button>
</div>
{#if isShowPrice}
  <div class="price" class:large={isWinner}>
    <span in:scale="{{ easing: elasticOut, duration: 600 }}">{celeb.price}$</span>
  </div>
{/if}

<style>
  .card-outer {
    @apply w-full h-full relative;
  }

  .card-inner {
    background: 50% 50% no-repeat;
    @apply w-full h-full bg-cover overflow-hidden p-0 text-left shadow-md;
    h2 {
      @apply mb-1;
    }
  }

  .details {
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.6) 35%, rgba(0,0,0,0.9));
    @apply absolute bottom-0 px-2 pb-2 pt-4 text-white w-full;
  }
  
  .type {
    @apply whitespace-nowrap overflow-hidden overflow-ellipsis;
  }

  .price {
    background-color: rbga(0, 0, 0, 0.3);
    @apply flex items-center justify-center;
    @apply text-6xl font-bold text-white;
    @apply absolute w-full h-full left-0 top-0;

    &.large {
      @apply text-8xl;
    }
  }

  @media (min-width: 640px) {
    .card-inner {
      padding-bottom: 100%;
      @apply h-0;
    }
  }
</style>