@tailwind base;
@tailwind components;
@tailwind screens;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-base;
  }
  h5 {
    @apply text-sm;
  }
  h6 {
    @apply text-xs;
  }

  button {
    font-family: inherit;
    font-size: inherit;
    background: var(--do-something);
    color: #222;
    border-radius: var(--border-radius);
    max-width: 800px;
    @apply border-0 p-4 leading-none;
  }

  button:not(:disabled):hover {
    background-color: var(--do-something-lighter);
  }

  p {
    @apply leading-normal;
  }

  a {
    color: var(--do-something);
    @apply no-underline;
  }
}

:root {
  --do-something: #7fdbff;
  --do-something-lighter: rgb(166, 230, 255);
  --border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  position: relative;
}

body {
  color: #eee;
  background-color: #222;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 14px;
  @media (min-width: 480px) {
    font-size: 16px;
  }
}

