<script>
  import './assets/tailwind.css'
  import { onMount } from 'svelte'

  import type { Category } from './types/category'
  import type { Celeb } from './types/celeb'
  import type { CelebsPromise } from './types/celeb-promise';
  import type { Selection } from './types/selection'

  import Welcome from './pages/Welcome.svelte'
  import Game from './pages/Game.svelte'

  import { select } from './libs/select'
  import { loadImage } from './libs/utils';

  let gameState: ('welcome' | 'playing') = 'welcome' // or playing
  let celebsPromise: CelebsPromise
  let selection: Selection = []

  onMount(() => {
    celebsPromise = loadCelebs()
    loadImage('/src/assets/icons/right.svg')
    loadImage('/src/assets/icons/wrong.svg')
  })

  async function loadCelebs(): CelebsPromise {
    const data = await (
      await fetch('https://cameo-explorer.netlify.app/celebs.json')
    ).json()

    console.log('data',data)
    const lookup = new Map<string, Celeb>()
    data.forEach((c: Celeb) => {
      lookup.set(c.id, c)
    })

    const subset = new Set<Celeb>()
    data.forEach((c: Celeb) => {
      if (c.reviews > 50) {
        subset.add(c)
        c.similar.forEach((id) => {
          subset.add(lookup.get(id))
        })
      }
    })

    return {
      celebs: Array.from(subset),
      lookup
    }
  }

  async function startGame(e: CustomEvent<{ category: Category }>) {
    const { celebs, lookup } = await celebsPromise
    selection = select(celebs, lookup, e.detail.category.slug)
    gameState = 'playing'
  }

  function endGame(): void {
    gameState = 'welcome'
  }
</script>

<main>
  {#if gameState === 'welcome'}
    <Welcome on:select="{startGame}" />
  {:else if gameState === 'playing'}
    <Game {selection} on:restart="{endGame}" />
  {/if}
</main>

<style>
  main {
    text-align: center;
    padding: 1em;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
</style>
